# This is the gitleaks configuration file.
# Rules and allowlists are defined within this file.
# Rules instruct gitleaks on what should be considered a secret.
# Allowlists instruct gitleaks on what is allowed, i.e. not a secret.

# Rules modified: global, gitlab-pat, generic-api-key, github-pat

title = "gitleaks config"

# use the default Gitleaks configuration (https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml)
# and treat this file as config extension
[extend]
useDefault = true

[allowlist]

paths = [
    '''environment-values/base/secrets.yaml''',
]

# Skip known harmless commits
commits = [
            "7ecb860f49b791615ef9fb86db524c28a9fca75e",
            "ce53d2b6c53115fce3c55ff3e2484fa9b26834f3",
          ]

# Skip known fake secrets
regexes = [
            '''AKIAIOSFODNN7EXAMPLE''',
            '''xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx''',
            '''"changeme"''',
            '''"RancherPass"''',
            '''"FluxPass"''',
            '''"SylvaCIpass"''',
            '''"minio1234"''',
            '''"harbor-init"''',
            '''MIIJQQIBADANBgkqhkiG9w0BAQEFAASCCSswggknAgEAAoICAQCw6jGQ0rmsmd2s''',
          ]
